<!DOCTYPE html>
<html xmlns:th="htto://www.hymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Product saved</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
	crossorigin="anonymous"
/>
<link rel="stylesheet" type="text/css"
	href="../static/css/Style.css"
	th:href="@{css/Style.css}"
/>
</head>
<body>
	<div class="container">
		<div class="panel-default">
			<div class= "panel-heading">Product saved</div>
			<p></p>
			<div class="panel-body">
					<div class="form-group">
						<label class="control-label">Désignation</label>
						<label class="control-label" th:text="${produit.designation}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Prix</label>
						<label class="control-label" th:text="${produit.prix}"></label> 	
					</div>
					<div class="form-group">
						<label class="control-label">Quantité</label>
						<label class="control-label" th:text="${produit.quantite}"></label> 	
					</div>
			</div>
			<div><h4><a th:href="@{index}">Home</a></h4></div>
			
		</div>
	</div>
</body>
</html>
