<!DOCTYPE html>
<html xmlns:th="htto://www.hymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Nouvel produit</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="panel-default">
			<div class= "panel-heading">Create a new product </div>
			<p></p>
			<div class="panel-body">
				<form th:action="@{save}" method="post">
					<div class="form-group">
						<label class="control-label">Désignation</label>
						<input class="form-control" type="text" name="designation" th:value="${produit.designation}"/> 	
					</div>
					<div class="form-group">
						<label class="control-label">Prix</label>
						<input class="form-control" type="text" name="prix" th:value="${produit.prix}"/> 	
					</div>
					<div class="form-group">
						<label class="control-label">Quantité</label>
						<input class="form-control" type="text" name="quantité" th:value="${produit.quantite}"/> 	
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
			
		</div>
	</div>
</body>
</html>